<!--The content below is only a placeholder and can be replaced.-->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mean Stack Admin </title>
  <base href="/">
</head>
<body>
  <div class="container-fluid m-0 p-0">
<header>
    <nav class="navbar navbar-dark bg-dark text-white">
        <span class="navbar-brand mb-0 h1"> <a routerLink="/home" >MEAN</a></span>
      
  <div>
      <ul class="nav justify-content-end">
    
          <li class="nav-item">
            <a class="nav-link" *ngIf="auth.loggedIn()" routerLink="/login"   routerLinkActive="active">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" *ngIf="auth.loggedIn()"  routerLink="/registration"   routerLinkActive="active">Registration</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" *ngIf="!auth.loggedIn()"    style="cursor: pointer; color:lightblue;" (click)="logoutClick()"> Logout </a>
          </li>
         
        </ul>
  </div>
</nav>
</header>
  </div>
  
  <router-outlet></router-outlet>

  
</body>
</html>



